
.icon-home:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-credit-card:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-login:before { content: '\e807'; } /* '' */
.icon-bell:before { content: '\e808'; } /* '' */
.icon-undo:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e80a'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
